<div class="interviews__item">
  <div class="interview">
    <%= image_tag interview.image_url(:cropped), class: "interview__img" %>
    <h4 class="interview__header"><%= interview.interviewee_full_name %></h4>
    <p class="interview__synopsis"><%= interview.interviewee_synopsis %></p>
    <p class="interview__preview"><%= interview.content_preview %></p>
    <%= link_to 'READ MORE', interview.read_more_link, target: "_blank", class: "interview__readme" %>
  </div>
</div>
