<div class="col-xs-12 col-md-3 row-1">
  <div class="thumbnail interview">
    <%= image_tag interview.image_url(:cropped) %>
    <div class="caption">
      <div class="caption-l1">
        <h4><%= interview.interviewee_full_name %></h4>
        <p class="title"><%= interview.interviewee_synopsis %></p>
        <p><%= interview.content_preview %></p>
      </div>
      <%= link_to 'READ MORE', interview.read_more_link, target: "_blank" %>
    </div>
  </div>
</div>
