<section id="about" class="subscribe">
  <%= link_to buy_path do %>
    <p class="subscribe__cicle">The Beam is your printed publication on renewable energy.</p>
    <%= image_tag "beam-image.jpg", class: "subscribe__img" %>
    <%= link_to "Order The Beam now", buy_path, class: "subscribe__btn btn btn--yellow" %>
  <% end %>
</section>
<section id="interviews" class="interviews">
  <h3 class="header">Interviews</h3>
  <div class="body">
    <div class="row">
      <%= render partial: "interviews/item", collection: @interviews, as: :interview %>
    </div>
  </div>
</section>
<section class="partners">
  <h3 class="partners__header">Partners</h3>
  <div class="partners__body">
    <div class="row">
      <div class="logo col-xs-12 col-sm-offset-3 col-sm-3">
        <%= link_to "http://cleantechnica.com", target: "_blank" do %>
          <%= image_tag "cleantechnica-g.png", alt: "CleanTechnica", class: "logo__img" %>
        <% end %>
      </div>
      <div class="logo col-xs-12 col-sm-3">
        <%= link_to "https://gridhub.com", target: "_blank" do %>
          <%= image_tag "gridhub-g.png", alt: "GridHub", class: "logo__img" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="supporters">
  <h3 class="supporters__header">Supporters</h3>
  <div class="supporters__body">
    <div class="row">
      <div class="supporters__logos col-xs-12">
        <%= link_to "#", class: "supporters__link" do %>
          <%= image_tag "supporters/rebalance.png", alt: "Rebalance" %>
        <% end %>
        <%= link_to "https://www.milkthesun.com", target: "_blank", class: "supporters__link" do %>
          <%= image_tag "supporters/milk-sun.png", alt: "Milk the Sun" %>
        <% end %>
        <%= link_to "https://gridhub.com/companies/company-mobisol", target: "_blank", class: "supporters__link" do %>
          <%= image_tag "supporters/mobisol.png", alt: "Mobisol" %>
        <% end %>
        <%= link_to "#", class: "supporters__link" do %>
          <%= image_tag "supporters/udabberi.png", alt: "Udabberi" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="editions">
  <h3 class="editions__header">Editions</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="editions__cover">
        <%= link_to buy_path, title: "Buy The Beam #1 now" do %>
          <%= image_tag "the-beam-cover.png", alt: "The Beam magazine. First Edition.", class: "editions__cover-img" %>
          <p class="editions__cover-caption">First Edition, April 2016</p>
        <% end %>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="editions__cover">
        <%= link_to buy_path, title: "Buy The Beam #2 now" do %>
          <%= image_tag "the-beam-second-cover.jpg", alt: "The Beam magazine. Second Edition.", class: "editions__cover-img" %>
          <p class="editions__cover-caption">Second Edition, September 2016</p>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="contact">
  <h3 class="contact__header">Contact</h3>
  <p class="contact__body">
    For questions on subscription or advertising packages, email us at
     <%= mail_to "thebeam@gridhub.com", "thebeam@gridhub.com", class: 'contact__link' %>
  </p>
</section>
<section class="central-text-2">
  <div class="block">
    <%= link_to "Become An Ambassador", ambassador_path, class: "btn btn--yellow" %>
  </div>
  <div class="block">
    <%= link_to "Impressum", impressum_path %>
  </div>
</section>
