<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.hidden_field field.attribute, value: f.object.cached_image_data %>
  <%= f.file_field field.attribute %>
  <br>
  <%- if f.object.image_data? %>
    <div>
      <% if f.object.image.try(:[], :cropped) %>
        <%= image_tag f.object.image[:cropped].url, width: 50, class: 'round-img' %>
      <% else %>
        <%= image_tag f.object.image.url, width: 50 %>
      <% end %>
    </div>
  <%- end %>
</div>
