<!doctype html>
<html>
<head>
  <title>Welcome to TheBeam</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
   ga('create', 'UA-78504373-4', 'auto');
   ga('send', 'pageview');
  </script>

</head>
<body>
  <div class="page-wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <header>
            <nav class="menu">
              <ul class="menu__row">
                <li class="menu__item"><a href="/#about">About</a></li>
                <li class="menu__item"><%= link_to "Subscribe", buy_path %></li>
                <li class="menu__item"><a href="/#interviews">Interviews</a></li>
                <li class="menu__item menu_item--logo">
                  <%= link_to root_path do %>
                    <%= image_tag 'beam-logo.png', alt: 'The Beam', class: 'menu__logo' %>
                  <% end %>
                </li>
                <li class="menu__item"><a href="/#contact">Contact</a></li>
                <li class="menu__item">
                  <%= link_to "Solarpanelart", solar_panel_art_path %>
                </li>
                <li class="menu__item">
                  <%= link_to "https://twitter.com/@TheBeamMagazine" do %>
                    <%= image_tag "twitter-grey.png", class: "menu__social" %>
                  <% end %>
                  <%= link_to "https://www.facebook.com/TheBeamMag" do %>
                    <%= image_tag "facebook-grey.png", class: "menu__social" %>
                  <% end %>
                </li>
              </ul>
            </nav>
          </header>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container footer__container">
      <div class="row">
        <div class="col-xs-12">
          <div class="footer__body">
            <span>&copy; Copyright 2016 - The Beam by GridHub</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
